# # In this script we will demonstrate how to carry out outlier removal using z score value

In [ ]:
# from scipy import stats
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [6]:
df1 = pd.read_csv('RAW DATA 17-9-24.csv')
df2 = pd.read_csv('RAW DATA2 18-9-24.csv')

NULL values are droped by using dropna

In [7]:
df1 = df1.dropna(how='any',axis=0) 
df2.head(10)

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
0,151,1.75,-0.50,118,1.75,-0.75,95,1.75,-0.50,118,1.75,-0.75,95
1,152,-1.00,-2.00,89,-1.50,-2.00,156,-1.00,-2.00,89,-1.50,-2.00,156
2,153,-1.25,-0.25,175,-1.25,-0.25,140,-0.75,0.00,180,-0.50,-0.50,162
3,154,-3.00,-0.25,41,-3.25,-0.25,133,-2.75,-0.25,167,-3.25,0.00,180
4,155,0.75,-0.75,73,1.00,-1.25,97,0.25,0.50,136,0.50,0.50,18
5,156,-0.50,0.00,105,-0.50,-0.25,17,-0.50,0.00,105,-0.50,-0.25,17
6,157,-1.00,0.00,140,0.00,0.00,122,-0.25,0.00,180,-0.25,0.00,180
7,158,1.50,-0.50,100,1.75,-1.00,95,1.50,0.25,180,1.50,0.50,19
8,159,-1.50,-0.25,162,-2.00,-0.75,13,-2.25,0.00,180,-1.50,0.00,180
9,160,-0.75,-1.00,18,-1.00,-0.25,164,-0.75,-1.00,18,-1.00,-0.25,104

In [8]:
df1.describe()

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
count,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.00000,3363.000000,3363.000000
mean,12126.557538,-0.466102,-0.404921,47.311924,-0.454059,-0.387229,52.999405,-0.394811,-0.209634,32.081178,-0.35110,-0.185549,31.263158
std,4259.253784,1.616924,0.717864,60.339876,1.644536,0.712120,64.352104,1.587520,0.555235,57.963831,1.80849,0.514395,58.331587
min,6354.000000,-11.500000,-5.000000,0.000000,-12.000000,-5.000000,0.000000,-16.000000,-5.000000,0.000000,-12.00000,-5.000000,0.000000
25%,8381.500000,-0.750000,-0.750000,0.000000,-0.750000,-0.750000,0.000000,-0.500000,-0.250000,0.000000,-0.50000,0.000000,0.000000
50%,11260.000000,-0.250000,0.000000,6.000000,-0.250000,0.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,15404.500000,0.000000,0.000000,90.000000,0.000000,0.000000,99.500000,0.000000,0.000000,50.000000,0.00000,0.000000,30.000000
max,21678.000000,20.000000,5.000000,180.000000,20.000000,5.000000,180.000000,20.000000,5.000000,180.000000,20.00000,5.000000,180.000000

In [9]:
df2.describe()

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,180.500000,-0.700000,-0.654167,99.400000,-0.687500,-0.662500,99.283333,-0.741667,-0.379167,125.900000,-0.554167,-0.441667,114.550000
std,17.464249,1.402026,0.510674,49.028252,1.500441,0.466744,51.132295,1.383902,0.653368,53.584623,1.395431,0.704656,60.751906
min,151.000000,-5.000000,-2.250000,5.000000,-5.750000,-2.000000,6.000000,-5.750000,-2.000000,2.000000,-5.500000,-2.250000,1.000000
25%,165.750000,-1.500000,-0.750000,68.750000,-1.250000,-1.000000,65.000000,-1.250000,-0.750000,87.250000,-1.000000,-0.750000,80.250000
50%,180.500000,-0.500000,-0.500000,96.500000,-0.500000,-0.500000,100.500000,-0.500000,-0.250000,135.500000,-0.375000,-0.250000,123.500000
75%,195.250000,0.000000,-0.250000,137.750000,0.000000,-0.250000,141.250000,0.000000,0.000000,180.000000,0.000000,0.000000,176.250000
max,210.000000,3.000000,0.000000,178.000000,2.750000,0.000000,178.000000,2.000000,1.750000,180.000000,2.250000,1.500000,180.000000

then the df1 is used in this lines of code to calculate z score values

In [10]:
# Step 1: Calculate z-scores for each column in the filtered DataFrame
z_scores = np.abs(stats.zscore(df1))
# Step 2: Calculate the total z-score for each row (sum across columns)
row_z_scores = z_scores.sum(axis=1)
# Step 3: Sort the DataFrame by the total z-score in descending order
df1['total_z_score'] = row_z_scores
sorted_df = df1.sort_values(by='total_z_score', ascending=False)

# Display the filtered DataFrame without the outliers
sorted_df

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L,total_z_score
9573,21414,19.75,4.50,3,19.50,5.00,4,19.75,4.50,3,19.50,5.00,4,85.921488
9561,21393,19.25,4.25,3,19.75,4.25,4,19.25,4.25,3,19.75,4.25,4,82.272353
2108,8848,-6.75,-5.00,33,-5.25,-4.25,147,-5.00,-5.00,30,-6.00,-5.00,140,47.014152
3412,10349,-0.25,-5.00,175,-0.50,-5.00,173,0.00,-4.50,180,0.00,-4.50,180,39.103348
3190,10127,-1.00,-4.75,2,-1.00,-5.00,175,-0.75,-4.50,180,-0.50,-4.50,180,37.836719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5969,13939,0.00,-0.50,58,0.00,-0.50,44,0.00,0.00,0,0.00,0.00,0,3.868789
1183,7792,-0.50,-0.50,40,-0.75,-0.50,40,0.00,-0.50,40,-0.75,0.00,0,3.858675
2609,9416,-0.25,-0.25,41,0.00,-0.50,49,0.00,0.00,0,0.00,0.00,0,3.858174
4070,11147,-0.75,-0.25,25,-0.25,-0.25,90,-0.50,0.00,0,-0.25,0.00,0,3.833330
4797,12223,-0.25,-0.25,33,-0.25,-0.50,92,0.00,0.00,0,0.00,0.00,0,3.768877

In [11]:
# Step 4: Drop the top 60 outliers based on the highest total z-scores
filtered_no_outliers = sorted_df.iloc[60:].drop(columns='total_z_score')

In [12]:
filtered_no_outliers = filtered_no_outliers.merge(df2, how='outer')
filtered_no_outliers

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
0,6683,-3.75,-2.50,14,-2.75,-2.25,164,-3.00,-1.25,180,-2.25,-1.50,180
1,12076,-5.50,-1.50,165,-5.50,-1.25,165,-5.00,-0.25,170,-4.50,-1.25,170
2,13763,-1.00,-4.00,30,-0.75,-2.50,150,-1.00,-4.00,30,-0.75,-2.50,150
3,17611,-3.00,-2.25,30,-3.00,-2.25,155,-3.00,-2.25,30,-3.00,-2.25,155
4,9503,-0.50,-2.75,70,-4.00,-4.00,100,-0.50,-2.50,70,-1.25,-3.00,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3358,206,-4.50,-0.25,147,-5.75,-1.25,167,-4.00,0.00,180,-4.25,0.00,180
3359,207,0.25,-0.75,28,-0.50,-0.50,172,0.25,-0.50,139,0.00,0.00,180
3360,208,0.00,-2.25,99,-0.50,-1.50,99,0.00,-2.00,100,-0.50,-2.00,98
3361,209,-0.25,-0.25,37,-0.50,-0.25,127,0.00,-1.00,60,-0.25,0.00,180
3362,210,-2.00,-0.25,79,-0.75,-1.00,110,-1.25,-0.50,105,0.00,-1.00,96

In [13]:
filtered_no_outliers.describe()

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
count,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000,3363.000000
mean,11913.102884,-0.432426,-0.381728,47.180791,-0.424324,-0.361656,52.762712,-0.366042,-0.193875,32.288730,-0.335787,-0.171201,31.429676
std,4494.535832,1.356261,0.634503,59.755137,1.352352,0.619993,63.828631,1.351146,0.473995,57.863186,1.495681,0.443488,58.186065
min,151.000000,-9.500000,-5.000000,0.000000,-12.000000,-5.000000,0.000000,-16.000000,-4.000000,0.000000,-12.000000,-3.000000,0.000000
25%,8299.000000,-0.750000,-0.750000,0.000000,-0.750000,-0.500000,0.000000,-0.500000,-0.250000,0.000000,-0.500000,0.000000,0.000000
50%,11160.000000,-0.250000,0.000000,7.000000,-0.250000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,15310.000000,0.000000,0.000000,90.000000,0.000000,0.000000,98.000000,0.000000,0.000000,60.000000,0.000000,0.000000,30.000000
max,21678.000000,10.000000,3.000000,180.000000,10.500000,2.500000,180.000000,10.000000,2.000000,180.000000,20.000000,1.500000,180.000000

In [14]:
# Step 1: Calculate z-scores for each column in the filtered DataFrame
z_scores2 = np.abs(stats.zscore(filtered_no_outliers))
# Step 2: Calculate the total z-score for each row (sum across columns)
row_z_scores2 = z_scores2.sum(axis=1)
# Step 3: Sort the DataFrame by the total z-score in descending order
filtered_no_outliers['total_z_score'] = row_z_scores2
sorted_df2 = filtered_no_outliers.sort_values(by='total_z_score', ascending=False)

# Step 4: Drop the top 60 outliers based on the highest total z-scores
My_Data = sorted_df.iloc[200:].drop(columns='total_z_score')

# Display the filtered DataFrame without the outliers
My_Data.describe()

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
count,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000
mean,12129.762567,-0.365318,-0.338840,43.574455,-0.349431,-0.323506,49.215302,-0.283908,-0.164085,27.018021,-0.263199,-0.143693,26.127095
std,4245.666690,1.153742,0.549146,57.643837,1.155981,0.548821,62.198862,1.142922,0.406001,52.823576,1.283364,0.383407,53.160620
min,6354.000000,-8.000000,-5.000000,0.000000,-9.500000,-5.000000,0.000000,-9.000000,-3.000000,0.000000,-11.000000,-3.000000,0.000000
25%,8396.500000,-0.500000,-0.500000,0.000000,-0.500000,-0.500000,0.000000,-0.500000,0.000000,0.000000,-0.500000,0.000000,0.000000
50%,11265.000000,-0.250000,0.000000,0.000000,-0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,15401.000000,0.000000,0.000000,90.000000,0.000000,0.000000,92.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000
max,21678.000000,7.000000,3.000000,180.000000,10.500000,2.500000,180.000000,10.000000,2.000000,180.000000,20.000000,1.500000,180.000000

In [16]:
# Remove rows where 'SPH SR - R' or 'SPH SR - L' have values < -10 or > 10
My_Data_cleaned = My_Data[
    (My_Data['SPH SR - R'] >= -9) & (My_Data['SPH SR - R'] <= 9) &
    (My_Data['SPH SR - L'] >= -9) & (My_Data['SPH SR - L'] <= 9)
]

# Display the cleaned DataFrame
My_Data_cleaned

,ID,SPH AB - R,CYL AB - R,Axis AB - R,SPH AB - L,CYL AB - L,Axis AB - L,SPH SR - R,CYL SR - R,Axis SR - R,SPH SR - L,CYL SR - L,Axis SR - L
3684,10701,-6.25,-0.75,38,-6.25,-0.75,168,-5.5,0.0,0,-5.50,0.0,0
8662,19268,-1.00,-2.00,4,-2.00,-1.75,6,-0.5,-1.5,180,-1.50,-1.0,180
559,7008,-6.00,-1.00,90,-5.75,-1.00,80,-5.0,0.0,0,-5.50,0.0,0
6923,15593,-6.00,0.00,0,-6.00,0.00,0,-5.5,0.0,0,-5.50,0.0,0
1785,8455,-1.75,-2.50,8,-2.25,-1.75,171,-1.5,-1.5,10,-1.75,-1.0,170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5969,13939,0.00,-0.50,58,0.00,-0.50,44,0.0,0.0,0,0.00,0.0,0
1183,7792,-0.50,-0.50,40,-0.75,-0.50,40,0.0,-0.5,40,-0.75,0.0,0
2609,9416,-0.25,-0.25,41,0.00,-0.50,49,0.0,0.0,0,0.00,0.0,0
4070,11147,-0.75,-0.25,25,-0.25,-0.25,90,-0.5,0.0,0,-0.25,0.0,0
4797,12223,-0.25,-0.25,33,-0.25,-0.50,92,0.0,0.0,0,0.00,0.0,0

In [17]:
file_path = "C:/forus data/PROJECT 1/Clean Data/My_Data.xlsx"
My_Data_cleaned.to_excel(file_path, index=False)